[submodule "devstats"]
	path = devstats
	url = https://github.com/cncf/devstats.git
[submodule "devstatscode"]
	path = devstatscode
	url = https://github.com/cncf/devstatscode.git
[submodule "devstats-reports"]
	path = devstats-reports
	url = https://github.com/cncf/devstats-reports.git
[submodule "devstats-docker-images"]
	path = devstats-docker-images
	url = https://github.com/cncf/devstats-docker-images.git
