---
apiVersion: 1
datasources:
  - name: psql
    type: postgres
    access: direct
    orgId: 1
    url: {{url}}
    database: {{PG_DB}}
    user: {{PG_USER}}
    isDefault: true
    editable: true
    jsonData:
      sslmode: disable
      postgresVersion: 1100
      timeInterval: 1h
    secureJsonData:
      password: {{PG_PASS}}
  - name: tidb
    type: postgres
    access: direct
    orgId: 1
    url: {{url}}
    database: tidb
    user: {{PG_USER}}
    editable: true
    jsonData:
      sslmode: disable
      postgresVersion: 1100
      timeInterval: 1h
    secureJsonData:
      password: {{PG_PASS}}
  - name: tikv
    type: postgres
    access: direct
    orgId: 1
    url: {{url}}
    database: tikv
    user: {{PG_USER}}
    editable: true
    jsonData:
      sslmode: disable
      postgresVersion: 1100
      timeInterval: 1h
    secureJsonData:
      password: {{PG_PASS}}
  - name: chaosmesh
    type: postgres
    access: direct
    orgId: 1
    url: {{url}}
    database: chaosmesh
    user: {{PG_USER}}
    editable: true
    jsonData:
      sslmode: disable
      postgresVersion: 1100
      timeInterval: 1h
    secureJsonData:
      password: {{PG_PASS}}

